/*Shuwray*/
[data-cid^="6732374-"] .msg .from .un{
position:relative;
left:-2.3px;
padding-left:21px;
background-image:url("https://static-cdn.jtvnw.net/emoticons/v1/14682/1.0") !important;
widht:16px !important;
height:16px !important;
background-repeat:no-repeat;
background-position:2px center;
background-size:15px auto;
}
/*PeÏ‰DiePie*/
[data-cid^="3970791-"] .msg .from .un{
position:relative;
left:-2.3px;
padding-left:21px;
background-image:url("http://i.imgur.com/4rbalEE.png") !important;
widht:16px !important;
height:16px !important;
background-repeat:no-repeat;
background-position:2px center;
background-size:15px auto;
}
