
/*Ciclano*/
[data-cid^="13754651-"] .msg .from .un{
position:relative;
left:-2.3px;
padding-left:21px;
background-image:url(https://cdn.radiant.dj/rcs/emotes/img/domspenis.gif);
background-repeat:no-repeat;
background-position:2px center;
background-size:15px auto;
}
